

body {
    background-image: url(images/vector\ gif.gif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 500px;
    background-color: rgba(237, 248, 255, 0.8);
    border-radius: 8px;
    border: 0;
}

.email, .password {
    height: 30px;
    width: 80%;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 600;
}

.email:focus, .password:focus {
    border: 1px solid rgb(0, 0, 0);
}

.btn {
    height: 40px;
    width: 20%;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    color: rgb(70, 70, 70);
    background-color: rgb(179, 179, 179);
}

.btn:hover {
    background-color: rgb(100, 100, 100);
    color: black;
    cursor: pointer;
}